In [2]:
# Inisialisasi data
company_name_list = [{'name': 'Company 1'},
                     {'name': 'Company 2'},
                     {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
                      {'name': 'Tom Smith'},
                      {'name': 'Andrew Sebastian'}]

company_detail_list = {
    'Company 1': {
        'name': 'Company 1',
        'domain': 'Retail',
        'clients': [
            {
                'name': 'acme.inc',
                'country': 'united states'
            },
            {
                'name': 'Wayne.co',
                'country': 'united states'
            }
        ]
    },
    'Company 2': {
        'name': 'Company 2',
        'domain': 'Construction',
        'clients': [
            {
                'name': 'Tesla',
                'country': 'united states'
            },
            {
                'name': 'Japan Airlines',
                'country': 'japan'
            },
            {
                'name': 'Indofood',
                'country': 'indonesia'
            }
        ]
    },
    'Company 3': {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'clients': [
            {
                'name': 'Petronas',
                'country': 'malaysia'
            },
            {
                'name': 'VW Group',
                'country': 'germany'
            },
            {
                'name': 'IBM',
                'country': 'united states'
            },
            {
                'name': 'Mitsubishi',
                'country': 'japan'
            }
        ]
    }
}

employee_detail_list = {
    'John Doe': {
        'name': 'EMP-0001',
        'first_name': 'John',
        'last_name': 'Doe',
        'full_name': 'John Doe',
        'company': 'Company 1'
    },
    'Tom Smith': {
        'name': 'EMP-0002',
        'first_name': 'Tom',
        'last_name': 'Smith',
        'full_name': 'Tom Smith',
        'company': 'Company 2'
    },
    'Andrew Sebastian': {
        'name': 'EMP-0003',
        'first_name': 'Andrew',
        'last_name': 'Sebastian',
        'full_name': 'Andrew Sebastian',
        'company': 'Company 2'
    },
}

In [3]:
# Fungsi untuk mengurutkan perusahaan berdasarkan domain secara terbalik
def sort_company():
    sorted_companies = sorted(company_detail_list.values(), key=lambda x: x['domain'], reverse=True)
    return [{"name": company['name'], "domain": company['domain']} for company in sorted_companies]

In [4]:
# Fungsi untuk mencetak nilai domain dalam setiap perusahaan
def get_company_domain():
    for company_name, company_detail in company_detail_list.items():
        print(f"{company_name}: {company_detail['domain']}, relation: {len(company_detail['clients'])} clients")

In [5]:
# Fungsi untuk mendapatkan karyawan beserta domain perusahaannya
def get_employees():
    return [{"full_name": employee['full_name'], "company": employee['company'], "domain": company_detail_list[employee['company']]['domain']} 
            for employee in employee_detail_list.values()]

In [6]:
# Fungsi untuk mendapatkan perusahaan beserta daftar karyawan yang bekerja di perusahaan tersebut
def get_employees_by_company():
    employees_by_company = {company['name']: [] for company in company_name_list}
    for employee, details in employee_detail_list.items():
        employees_by_company[details['company']].append(details['full_name'])
    return [{"company": company, "employees": employees} for company, employees in employees_by_company.items()]

In [7]:
# Jalankan fungsi untuk mengurutkan perusahaan berdasarkan domain secara terbalik
sorted_companies = sort_company()
print("Sorted Companies:", sorted_companies)

Sorted Companies: [{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 3', 'domain': 'Healthcare'}, {'name': 'Company 2', 'domain': 'Construction'}]

In [8]:
# Jalankan fungsi untuk mencetak nilai domain dalam setiap perusahaan
print("\nCompany Domains:")
get_company_domain()

Company Domains:
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [9]:
# Jalankan fungsi untuk mendapatkan karyawan beserta domain perusahaannya
employees_with_domain = get_employees()
print("\nEmployees with Domain:", employees_with_domain)

Employees with Domain: [{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [10]:
# Jalankan fungsi untuk mendapatkan perusahaan beserta daftar karyawan yang bekerja di perusahaan tersebut
employees_by_company = get_employees_by_company()
print("\nEmployees by Company:", employees_by_company)

Employees by Company: [{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}, {'company': 'Company 3', 'employees': []}]